In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import json
from pymongo import MongoClient

In [2]:
class convertMongo:
    con = MongoClient('172.16.4.84', 27017)
    db = con['sensordb']
    col = db.sensors
    global list
    dic = {}
    hoge = {}
    list = []
    
    for data in col.find():
        del data['_id']
        # BsonをJsonに変換
        json_list = json.dumps(data)
        # Jsonをディクショナリに変換
        dic = json.loads(json_list)
        list.append(dic)

    def getDic(self):
        return list
    
    
   # with open('data.json', 'w') as f:
    #    json.dump(dic, f, sort_keys=True, indent=4)

In [3]:
getmongo = convertMongo()
dic = getmongo.getDic()
df = pd.DataFrame(dic)

In [4]:
df

        ID Name Result  Value
0        0  Lux  False    199
1        1  Lux  False    198
2        2  Lux  False    196
3        3  Lux  False    196
4        4  Lux  False    197
5        5  Lux  False    203
6        6  Lux  False    211
7        7  Lux  False    208
8        8  Lux  False    198
9        9  Lux  False    198
10      10  Lux  False    198
11      11  Lux  False    198
12      12  Lux  False    195
13      13  Lux  False    199
14      14  Lux  False    207
15      15  Lux  False    213
16      16  Lux  False    201
17      17  Lux  False    198
18      18  Lux  False    198
19      19  Lux  False    197
20      20  Lux  False    195
21      21  Lux  False    199
22      22  Lux  False    207
23      23  Lux  False    211
24      24  Lux  False    199
25      25  Lux  False    198
26      26  Lux  False    198
27      27  Lux  False    196
28      28  Lux  False    195
29      29  Lux  False    197
...    ...  ...    ...    ...
9970  4970  Lux   True    527
9971  4971  Lux   True    527
9972  4972  Lux   True    527
9973  4973  Lux   True    527
9974  4974  Lux   True    528
9975  4975  Lux   True    526
9976  4976  Lux   True    524
9977  4977  Lux   True    529
9978  4978  Lux   True    534
9979  4979  Lux   True    542
9980  4980  Lux   True    541
9981  4981  Lux   True    539
9982  4982  Lux   True    543
9983  4983  Lux   True    533
9984  4984  Lux   True    528
9985  4985  Lux   True    528
9986  4986  Lux   True    527
9987  4987  Lux   True    524
9988  4988  Lux   True    529
9989  4989  Lux   True    533
9990  4990  Lux   True    540
9991  4991  Lux   True    524
9992  4992  Lux   True    524
9993  4993  Lux   True    531
9994  4994  Lux   True    541
9995  4995  Lux   True    534
9996  4996  Lux   True    528
9997  4997  Lux   True    527
9998  4998  Lux   True    526
9999  4999  Lux   True    524

[10000 rows x 4 columns]

In [5]:
df.describe()

                 ID         Value
count  10000.000000  10000.000000
mean    2499.500000    292.193900
std     1443.447818     98.899195
min        0.000000    194.000000
25%     1249.750000    198.000000
50%     2499.500000    232.000000
75%     3749.250000    365.000000
max     4999.000000    551.000000